@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

// color
$color_head_foot: #1b1b1b;
$color_main: #f8f8f8;
$color_text: #222222;
$color_text_hover: #b22222;
$color_border: #cccccc;

// fonts_weight
$font-weight_400: 400;
$font-weight_500: 500;
$font-weight_600: 600;
$font-weight_700: 700;
